absl-py
attrs
certifi
cffi
charset-normalizer
click
cmake
colorama
contourpy
cvzone
cycler
dlib
dlib-bin
face-recognition
face_recognition_models
filelock
flatbuffers
fonttools
fsspec
idna
jax
jaxlib
Jinja2
kiwisolver
MarkupSafe
matplotlib
mediapipe
ml_dtypes
mpmath
networkx
numpy
opencv-contrib-python
opencv-python
opt_einsum
packaging
pandas
pillow
protobuf
psutil
py-cpuinfo
pycparser
pyparsing
python-dateutil
pytz
PyYAML
requests
scipy
seaborn
secure-smtplib
sentencepiece
setuptools
six
sounddevice
sympy
torch
torchvision
tqdm
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
wheel
MTCNN
FaceNet
keras-facenet
